In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv("D:/csv/Movie+Assignment+Data.csv",index_col=0)

In [3]:
movies.head()

,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,IMDb_rating,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
Title,,,,,,,,,,,,,,,,,,,,,
La La Land,2016,30000000,151101803,Ryan Gosling,Emma Stone,Amiée Conn,14000,19000.0,NaN,8.2,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
Zootopia,2016,150000000,341268248,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,8.1,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
Lion,2016,12000000,51738905,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,8.1,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
Arrival,2016,47000000,100546139,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,8.0,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
Manchester by the Sea,2016,9000000,47695371,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,7.9,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA

In [4]:
print(movies.head())

                       title_year     budget      Gross      actor_1_name  \
Title
La La Land                   2016   30000000  151101803      Ryan Gosling
Zootopia                     2016  150000000  341268248  Ginnifer Goodwin
Lion                         2016   12000000   51738905         Dev Patel
Arrival                      2016   47000000  100546139         Amy Adams
Manchester by the Sea        2016    9000000   47695371     Casey Affleck

                             actor_2_name     actor_3_name  \
Title
La La Land                     Emma Stone       Amiée Conn
Zootopia                    Jason Bateman       Idris Elba
Lion                        Nicole Kidman      Rooney Mara
Arrival                     Jeremy Renner  Forest Whitaker
Manchester by the Sea  Michelle Williams     Kyle Chandler

                       actor_1_facebook_likes  actor_2_facebook_likes  \
Title
La La Land                              14000                 19000.0
Zootopia                                 2800                 28000.0
Lion                                    33000                 96000.0
Arrival                                 35000                  5300.0
Manchester by the Sea                     518                 71000.0

                       actor_3_facebook_likes  IMDb_rating  ... Votes3044M  \
Title                                                       ...
La La Land                                NaN          8.2  ...        7.9
Zootopia                              27000.0          8.1  ...        7.8
Lion                                   9800.0          8.1  ...        7.9
Arrival                                   NaN          8.0  ...        7.8
Manchester by the Sea                  3300.0          7.9  ...        7.7

                      Votes3044F Votes45A  Votes45AM  Votes45AF  Votes1000  \
Title
La La Land                   7.8      7.6        7.6        7.5        7.1
Zootopia                     8.1      7.8        7.8        8.1        7.6
Lion                         8.2      8.0        7.9        8.4        7.1
Arrival                      7.8      7.6        7.6        7.7        7.3
Manchester by the Sea        7.7      7.6        7.6        7.6        7.1

                       VotesUS  VotesnUS  content_rating    Country
Title
La La Land                 8.3       8.1           PG-13        USA
Zootopia                   8.0       8.0              PG        USA
Lion                       8.1       8.0           PG-13  Australia
Arrival                    8.0       7.9           PG-13        USA
Manchester by the Sea      7.9       7.8               R        USA

[5 rows x 61 columns]

In [5]:
#mean and median
print(movies.info())

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, La La Land to Tucker and Dale vs Evil
Data columns (total 61 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title_year              100 non-null    int64
 1   budget                  100 non-null    int64
 2   Gross                   100 non-null    int64
 3   actor_1_name            100 non-null    object
 4   actor_2_name            100 non-null    object
 5   actor_3_name            100 non-null    object
 6   actor_1_facebook_likes  100 non-null    int64
 7   actor_2_facebook_likes  99 non-null     float64
 8   actor_3_facebook_likes  98 non-null     float64
 9   IMDb_rating             100 non-null    float64
 10  genre_1                 100 non-null    object
 11  genre_2                 97 non-null     object
 12  genre_3                 74 non-null     object
 13  MetaCritic              95 non-null     float64
 14  Runtime                 100 non-null    int64
 15  CVotes10                100 non-null    int64
 16  CVotes09                100 non-null    int64
 17  CVotes08                100 non-null    int64
 18  CVotes07                100 non-null    int64
 19  CVotes06                100 non-null    int64
 20  CVotes05                100 non-null    int64
 21  CVotes04                100 non-null    int64
 22  CVotes03                100 non-null    int64
 23  CVotes02                100 non-null    int64
 24  CVotes01                100 non-null    int64
 25  CVotesMale              100 non-null    int64
 26  CVotesFemale            100 non-null    int64
 27  CVotesU18               100 non-null    int64
 28  CVotesU18M              100 non-null    int64
 29  CVotesU18F              100 non-null    int64
 30  CVotes1829              100 non-null    int64
 31  CVotes1829M             100 non-null    int64
 32  CVotes1829F             100 non-null    int64
 33  CVotes3044              100 non-null    int64
 34  CVotes3044M             100 non-null    int64
 35  CVotes3044F             100 non-null    int64
 36  CVotes45A               100 non-null    int64
 37  CVotes45AM              100 non-null    int64
 38  CVotes45AF              100 non-null    int64
 39  CVotes1000              100 non-null    int64
 40  CVotesUS                100 non-null    int64
 41  CVotesnUS               100 non-null    int64
 42  VotesM                  100 non-null    float64
 43  VotesF                  100 non-null    float64
 44  VotesU18                100 non-null    float64
 45  VotesU18M               100 non-null    float64
 46  VotesU18F               100 non-null    float64
 47  Votes1829               100 non-null    float64
 48  Votes1829M              100 non-null    float64
 49  Votes1829F              100 non-null    float64
 50  Votes3044               100 non-null    float64
 51  Votes3044M              100 non-null    float64
 52  Votes3044F              100 non-null    float64
 53  Votes45A                100 non-null    float64
 54  Votes45AM               100 non-null    float64
 55  Votes45AF               100 non-null    float64
 56  Votes1000               100 non-null    float64
 57  VotesUS                 100 non-null    float64
 58  VotesnUS                100 non-null    float64
 59  content_rating          100 non-null    object
 60  Country                 100 non-null    object
dtypes: float64(21), int64(32), object(8)
memory usage: 48.4+ KB
None

In [6]:
#to print mean
print(movies["budget"].mean())

78384000.0

In [7]:
#to print median
print(movies["budget"].median())

42250000.0

In [8]:
#to the maximum of column
print(movies["budget"].max())

260000000

In [9]:
#to print mini of budget
print(movies["budget"].min())

3000000

In [10]:
#Efficent summary a custom iqr function

def iqr(column):
    return column.quantile(0.75)-column.quantile(0.25)

In [14]:
#to print iqr of actor_1_facebook_likes
print (movies["actor_1_facebook_likes"].agg(iqr))

19000.0

In [15]:
#update to print iqr for facebook likes of actor 1 2 3
print(movies[["actor_1_facebook_likes","actor_2_facebook_likes","actor_3_facebook_likes"]].agg(iqr))

actor_1_facebook_likes    19000.00
actor_2_facebook_likes    10420.00
actor_3_facebook_likes      680.25
dtype: float64

In [16]:
#import numpy and create custom iqr function
import numpy as np
def iqr(column):
    return column.quantile(0.75)-column.quantile(0.25)

In [18]:
print(movies[["actor_1_facebook_likes","actor_2_facebook_likes","actor_3_facebook_likes"]].agg([iqr,np.median]))

        actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes
iqr                    19000.0                 10420.0                  680.25
median                 13000.0                  1000.0                  626.50

In [19]:
#cumulative Stats
movies_1_1=pd.read_csv("D:/csv/Movie+Assignment+Data.csv")

#sort movies_1_1 byIMdb rating
movies_1_1=movies_1_1.sort_values("IMDb_rating")

#get the cumulative sum of imdb rats add cum rating
movies_1_1["cum_IMDb_rating"]=movies_1_1["IMDb_rating"].cumsum()

#get the cumulative sum of imdb rats
movies_1_1["cum_max_IMDb_rating"]=movies_1_1["IMDb_rating"].cummax()

#see tthe coloumn you calculated
print(movies_1_1[["IMDb_rating","cum_IMDb_rating","cum_max_IMDb_rating"]])

    IMDb_rating  cum_IMDb_rating  cum_max_IMDb_rating
46          7.5              7.5                  7.5
52          7.5             15.0                  7.5
22          7.5             22.5                  7.5
49          7.6             30.1                  7.6
32          7.6             37.7                  7.6
..          ...              ...                  ...
8           8.4            754.0                  8.4
35          8.4            762.4                  8.4
95          8.5            770.9                  8.5
26          8.6            779.5                  8.6
27          8.8            788.3                  8.8

[100 rows x 3 columns]